<div style="max-width: 800px; width: 100%; margin: 20px auto;">
    <h1 style="text-align: center; margin: 20px 0; padding: 0;">WystawTo</h1>
    {% block body %}{% endblock %}
    <hr />
    <small>Wiadomość wygenerowana automatycznie. Prosimy na nią nie odpowiadać.</small>
</div>