body {
  padding-top: 5.5rem;
}

.btn {cursor: pointer;}
.card {
  &.active {
    border-color: #5cb3fd;
  }
}

div.galleryThumbs {
  overflow: auto;
  max-height: 330px;
  img {
    max-width: 100%;
    cursor: pointer;
  }
}